@import "tailwindcss";

@theme {    
    --color-primary: #7338AC;
    --color-secondary: #635AD9;
    --color-third: #219BE4;
    --color-fourth: #88F4FF;

    --animate-float: float 6s ease-in-out infinite;
    --animate-fade-in: fade-in 1s ease-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    } 100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;

    @media (width>=640px) {
        max-width: 640px;
    }
    @media (width>=768px) {
        max-width: 768px;
    }
    @media (width>=1024px) {
        max-width: 1024px;
    }
    @media (width>=1280px) {
        max-width: 1280px;
    }
    @media (width>=1400px) {
        max-width: 1400px;
    }
}